// Variables
//
// Custom variables and overrides for
// Sass dependencies are set here.
//
// No styleguide reference.
$font-family-base: "Fira Sans", "FF Meta", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
$button-font-weight: normal;
$caps-letter-spacing: 0;
$width-3: 40rem;

$border-thin: 1px;
$border-medium: 5px;
$border-thick: 10px;

$white: #FFF;
$black: #222;
$muted: 0.66;
// $blue: #0074d9;
// $color-primary: $blue;
